.text {
  background: #ffe4b5;
  border: 0.2rem solid black;
  padding: 0.75rem 1rem;
  box-shadow: 0.3rem 0.3rem 0 black;
  transform: rotate(-0.5deg);
  text-align: center;
  margin: 0;
  animation: text-in 0.1s ease forwards;
}

.white {
  background: white;
}

@keyframes text-in {
  0% {
    opacity: 0;
    scale: 0.9;
    rotate: 0deg;
  }
  100% {
    opacity: 1;
    scale: 1;
    rotate: var(--rotate);
  }
}
