.board {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 20rem;
  padding: 1rem;
  background: #bd9cceff;
  place-content: center;
  place-items: center;
}

.square {
  margin: -1rem 0;
  aspect-ratio: 1;
}

.board:not(.interactive) {
  pointer-events: none;
}
