.board {
  display: flex;
  place-items: center;
  place-content: center;
  background: #bd9cceff;
  width: 100%;
  aspect-ratio: 1;
  max-width: 24rem;
  margin: -1rem auto -1.25rem;
}

.grid {
  position: relative;
  z-index: 0;
  width: 100%; 
  padding: 1rem;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(var(--grid-size-x), 1fr);
  grid-template-rows: repeat(var(--grid-size-y), 1fr);
}

.grid-cell {
  aspect-ratio: 1;
  position: relative;
  padding: calc(var(--grid-cell-border-image-size) / 2);
  font-size: calc(10rem / var(--grid-size-x));
}

.grid-cell button.voter {
  z-index: 3;
}

.grid-cell.completed {
  pointer-events: none;
}

/* background */
.grid-cell .div-background {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}
.grid-cell.red .div-background {
  background: linear-gradient(135deg, #dc143c, #b22222 50%, #8b0000);
}
.grid-cell.blue .div-background {
  background: linear-gradient(135deg, #0066cc, #0052a3 50%, #003d7a);
}

/* foreground */
.grid-cell .div-foreground {
  display: none;
  position: absolute;
  /* inset: 0.35em; */
  inset: 0;
  z-index: 2;
  pointer-events: none;
  /* border-radius: 100%; */
}
.grid-cell.red .div-foreground {
  background: var(--red);
}
.grid-cell.blue .div-foreground {
  background: var(--blue);
}
.grid-cell.completed .div-foreground {
  display: block;
  border-radius: 100%;
  inset: 0.4em;
}
.grid-cell.selected .div-foreground,
.grid-cell.completed .div-foreground {
  display: block;
}
.grid-cell.completed.winner-blue .div-background {
  background: var(--blue)
}
.grid-cell.completed.winner-red .div-background {
  background: var(--red)
}

[class*="div-border-"] {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 4;
  display: none;
  border-style: solid;
  border-image-repeat: repeat;
  border-image-width: var(--grid-cell-border-image-size);
  border-image-slice: var(--grid-cell-border-image-slice);
  border-image-outset: calc(var(--grid-cell-border-image-size) / 2);
}
.div-border-top {
  border-image-source: var(--grid-cell-border-image-top);
}
.div-border-right {
  border-image-source: var(--grid-cell-border-image-right);
}
.div-border-bottom {
  border-image-source: var(--grid-cell-border-image-bottom);
}
.div-border-left {
  border-image-source: var(--grid-cell-border-image-left);
}
.div-border-dashed {
  inset: 0.4em;
  border: 2px dashed white;
  border-radius: 100%;
}

.grid-cell.selected.border-top .div-border-top,
.grid-cell.completed.border-top .div-border-top {
  display: block;
}
.grid-cell.selected.border-right .div-border-right,
.grid-cell.completed.border-right .div-border-right {
  display: block;
}
.grid-cell.selected.border-bottom .div-border-bottom,
.grid-cell.completed.border-bottom .div-border-bottom {
  display: block;
}
.grid-cell.selected.border-left .div-border-left,
.grid-cell.completed.border-left .div-border-left {
  display: block;
}
.grid-cell.available .div-border-dashed {
  display: block;
}

/* 
.grid-mini {
  margin: 0 auto 1rem;
  justify-content: center;
}
.grid-mini button.voter .face,
.grid-mini button.voter::before {
  display: none;
}

.grid-mini .grid-cell.winner-red::after {
  background: #dc143c;
}
.grid-mini .grid-cell.winner-blue::after {
  background: #0066cc;
} */
