:root {
  --grid-cell-border-color: white;
  --grid-cell-border-image-slice: 8;
  --grid-cell-border-image-size: 8px;
  --grid-cell-border-image-top:
    linear-gradient(
      to bottom,
      var(--grid-cell-border-color) 0,
      var(--grid-cell-border-color) var(--grid-cell-border-image-size),
      transparent var(--grid-cell-border-image-size)
    );

  --grid-cell-border-image-right:
    linear-gradient(
      to left,
      var(--grid-cell-border-color) 0,
      var(--grid-cell-border-color) var(--grid-cell-border-image-size),
      transparent var(--grid-cell-border-image-size)
    );

  --grid-cell-border-image-bottom:
    linear-gradient(
      to top,
      var(--grid-cell-border-color) 0,
      var(--grid-cell-border-color) var(--grid-cell-border-image-size),
      transparent var(--grid-cell-border-image-size)
    );

  --grid-cell-border-image-left:
    linear-gradient(
      to right,
      var(--grid-cell-border-color) 0,
      var(--grid-cell-border-color) var(--grid-cell-border-image-size),
      transparent var(--grid-cell-border-image-size)
    );
}

.grid {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), minmax(2.5rem, 5rem));
  padding: 0;
  box-shadow:
    0 0 0 0.25rem black,
    0.5rem 0.5rem 0 black;
}

.grid-cell {
  position: relative;
  padding: calc(var(--grid-cell-border-image-size) / 2);
}

.grid-cell.completed {
  pointer-events: none;
  padding: 0;
}

.grid-cell::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}
.grid-cell.winner-red::after {
  background: linear-gradient(45deg, rgba(0,0,0,0.05) 25%, rgba(255,255,255,0.05) 0, rgba(255,255,255,0.05) 50%, rgba(0,0,0,0.05) 0, rgba(0,0,0,0.05) 75%, rgba(255,255,255,0.05) 0) 0% 0% / 1rem 1rem rgba(220, 20, 60, 0.6);
}
.grid-cell.winner-blue::after {
  background: linear-gradient(45deg, rgba(0,0,0,0.05) 25%, rgba(255,255,255,0.05) 0, rgba(255,255,255,0.05) 50%, rgba(0,0,0,0.05) 0, rgba(0,0,0,0.05) 75%, rgba(255,255,255,0.05) 0) 0% 0% / 1rem 1rem #0066cc80;
}

[class*="div-border-"] {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
  display: none;
  border-style: solid;
  border-image-repeat: repeat;
  border-image-width: var(--grid-cell-border-image-size);
  border-image-slice: var(--grid-cell-border-image-slice);
  border-image-outset: calc(var(--grid-cell-border-image-size) / 2);
}

.completed [class*="div-border-"] {
  z-index: 2;
}
.selected [class*="div-border-"] {
  z-index: 3;
}
.available .voter {
  z-index: 0;
  outline: 3px dashed white;
  outline-offset: -5px;
}
.div-border-top {
  border-image-source: var(--grid-cell-border-image-top);
}
.div-border-right {
  border-image-source: var(--grid-cell-border-image-right);
}
.div-border-bottom {
  border-image-source: var(--grid-cell-border-image-bottom);
}
.div-border-left {
  border-image-source: var(--grid-cell-border-image-left);
}

.grid-cell.selected .div-border-top,
.grid-cell.completed.border-top .div-border-top {
  display: block;
}

.grid-cell.selected .div-border-right,
.grid-cell.completed.border-right .div-border-right {
  display: block;
}

.grid-cell.selected .div-border-bottom,
.grid-cell.completed.border-bottom .div-border-bottom {
  display: block;
}

.grid-cell.selected .div-border-left,
.grid-cell.completed.border-left .div-border-left {
  display: block;
}
