* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
  -webkit-tap-highlight-color: transparent;
  transition-behavior: allow-discrete;
  user-select: none;
}

::selection {
  background-color: inherit;
  color: inherit;
}

html,
body {
  overflow: hidden;
  width: 100dvw;
  height: 100dvh;
}

body {
  display: flex;
  max-width: 24rem;
  max-height: 40rem;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 1rem;
  margin: 0 auto;
  background: var(--pink);
  gap: 1rem;
}

.bg-color {
  position: absolute;
  background: #d1aaf9a2;
  inset: 0;
}

.halftone {
	--mask: radial-gradient(circle farthest-corner at center, rgb(0 0 0) 25%, rgb(0 0 0/ 0%));
	--stop1: 3%;
	--stop2: 90%;

  position: absolute;
	background: white;
	filter: contrast(50);
  inset: 0;
  mix-blend-mode: screen;
}

.halftone::after {
  --bg-size: 1.5rem;
  --bg-position: calc(var(--bg-size) / 2);
	--stop1: 3%;
	--stop2: 65%;
  
	position: absolute;
	border: 4px solid;
	background-image: radial-gradient(circle closest-side at center, black var(--stop1), transparent var(--stop2)), radial-gradient(circle at center, black var(--stop1), transparent var(--stop2));
	background-position: 0 0, var(--bg-position) var(--bg-position);
	background-repeat: round;
	background-size: var(--bg-size) var(--bg-size);
	content: '';
	inset: 0;
	mask-image: var(--mask);
}

header,
main {
  display: contents;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.bubbles {
  position: absolute;
  z-index: 10;
  top: -0.5rem;
  left: 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 0.25rem;
  white-space: nowrap;
}
