* {
  box-sizing: border-box;
  user-select: none;
}

::selection {
  background-color: inherit;
  color: inherit;
}


html,
body {
  height: 100dvh;
  padding: 0;
  margin: 0;
}

body {
  max-width: 24rem;
  padding: 1rem 0.5rem;
  margin: 0 auto;
  background: linear-gradient(45deg, #e6e6fa 25%, #f0f8ff 0, #f0f8ff 50%, #e6e6fa 0, #e6e6fa 75%, #f0f8ff 0) 0% 0% / 3rem 3rem;
}

header {
  height: 6rem;
}

main {
  display: flex;
  height: 32rem;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}

.board {
  display: flex;
  width: 20rem;
  padding: 1rem;
  aspect-ratio: 1;
  background: #bd9cceff;
  place-content: center;
  place-items: center;
}

.grid {
  position: relative;
  z-index: 0; 
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: repeat(var(--grid-size-x), 1fr);
  grid-template-rows: repeat(var(--grid-size-y), 1fr);
  place-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.voters {
  display: flex;
  width: calc(var(--count) * 4rem);
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  pointer-events: none;
}

.illustration {
  position: relative;
  padding: 1rem;
  margin: 0.5rem auto 0;
  background: #bd9cceff;
}

.bubbles {
  position: absolute;
  z-index: 10;
  top: -0.5rem;
  left: 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 0.25rem;
  white-space: nowrap;
}
