* {
  box-sizing: border-box;
  user-select: none;
}

::-moz-selection {
  color: inherit;
  background-color: inherit;
}

::selection {
  color: inherit;
  background-color: transparent;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100dvh;
}

body {
  background: conic-gradient(from 0deg at 50% 50%, #FF1493, #00BFFF, #9370DB, #FF1493, #00BFFF, #9370DB, #FF1493);
  background-size: 6rem 6rem;
  animation: retro-spin 15s linear infinite;
  padding: 1rem 0.5rem;
  max-width: 24rem;
  margin: 0 auto;
}

header {
  height: 6rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 0.5rem;
  height: 32rem;
}

.board {
  display: flex;
  place-items: center;
  place-content: center;
  background: linear-gradient(135deg, #1C1C1C, #2C2C2C, #1C1C1C);
  border: 4px solid #FFFFFF;
  border-radius: 20px;
  width: 20rem;
  aspect-ratio: 1;
  padding: 1rem;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5), inset 0 4px 8px rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}

.grid {
  position: relative;
  z-index: 0;
  width: 100%; 
  display: grid;
  margin: auto;
  place-items: center;
  grid-template-columns: repeat(var(--grid-size-x), 1fr);
  grid-template-rows: repeat(var(--grid-size-y), 1fr);
}

.flex-center {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.voters {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: calc(var(--count) * 4rem);
  pointer-events: none;
}

.illustration {
  position: relative;
  margin: 0.5rem auto 0;
  padding: 1rem;
  background: linear-gradient(135deg, #1C1C1C, #2C2C2C, #1C1C1C);
  border: 4px solid #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5), inset 0 4px 8px rgba(255, 255, 255, 0.1);
}

.bubbles {
  display: flex;
  position: absolute;
  top: -0.5rem;
  left: 0;
  z-index: 10;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 0.25rem;
  white-space: nowrap;
}

@keyframes retro-spin {
  0% {
    background-position: 0% 0%;
    transform: rotate(0deg);
  }
  100% {
    background-position: 100% 100%;
    transform: rotate(360deg);
  }
}
