body:has(.modal) {
  overflow: hidden;
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  padding: 0.5rem;
  /* gap: .25rem; */
  background-color: rgba(0, 0, 0, 0.8);
}

.modal.no-overlay {
  pointer-events: none;
  background-color: transparent;
}

.modal.no-overlay .tile {
  pointer-events: auto;
  background-color: transparent;
}

.modal .tile {
  padding: 2rem 1rem;
  width: auto;
}

.modal h2 {
  font-size: 1.75rem;
  line-height: 1;
  margin: 0 auto 1rem;
  max-width: 12rem;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.tutorial-nav {
  z-index: 1;
  margin-top: -1rem;
  align-items: start;
  display: flex;
  /* gap: 0.5rem; */
  justify-content: center;
}

.tutorial-nav .tile {
  padding: 0.5rem 1rem;
}
