body:has(.modal) {
  overflow: hidden;
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  place-items: center;
  place-content: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal.no-overlay {
  pointer-events: none;
  background-color: transparent;
}

.modal.no-overlay .tile {
  pointer-events: auto;
  background-color: transparent;
}

.modal .tile {
  padding: 1rem;
}

.modal h2 {
  font-size: 1.75rem;
  line-height: 1;
  margin: 0 auto 1rem;
  max-width: 12rem;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.dictionary {
  font-family: 'Times New Roman', Georgia, serif;
  text-align: left;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 0.1rem solid black;
  background-color: oklch(98.7% 0.026 102.212);
}

.definition {
  font-style: italic;
}

.pronunciation {
  margin-bottom: 1rem;
}

.tutorial-nav {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 0.1rem solid black;
  justify-content: space-between;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
