html {
  font-size: clamp(14px, 2.5dvh, 24px);
  transition: font-size var(--animation-duration) ease;
}

body {
  color: black;
  font-family: 'Permanent Marker', sans-serif;
  line-height: 1.25;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1;
  text-wrap: balance;
  vertical-align: middle;
  white-space: nowrap;
}

h2 .gerrymanderer {
  display: block;
  margin-top: 0.25rem;
  font-size: 1.75rem;
}

p {
  text-wrap: balance;
}

.text-blue {
  color: var(--blue);
  text-transform: uppercase;
}

.text-red {
  color: var(--red);
  text-transform: uppercase;
}
