@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Permanent+Marker&family=Bangers&display=swap');

html {
  font-size: clamp(14px, 2.5dvh, 20px);
  transition: font-size var(--animation-duration) ease;
}

body {
  font-family: 'Permanent Marker', sans-serif;
  line-height: 1.25;
  color: #333;
}

h2 {
  font-size: 1.25rem;
  line-height: 1;
  text-wrap: balance;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  white-space: nowrap;
}

h2 .gerrymanderer {
  display: block;
  margin-top: 0.25rem;
  font-size: 1.75rem;
}

p {
  text-wrap: balance;
}

.text-blue {
  text-transform: uppercase;
  color: var(--blue);
}
.text-red {
  text-transform: uppercase;
  color: var(--red);
}
