@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Permanent+Marker&family=Bangers&display=swap');
@import '../styles/reset.css';
@import '../styles/layout.css';
@import '../styles/typography.css';

:root {
  --red: #dc143c;
  --blue: #0066cc;
  --purple: #814c9c;

  --animation-duration: 0.25s;

  --grid-cell-border-color: white;
  --grid-cell-border-image-slice: 5;
  --grid-cell-border-image-size: calc(var(--grid-cell-border-image-slice) * 1px);

  --grid-cell-border-image-top: linear-gradient(to bottom, var(--grid-cell-border-color) 0, var(--grid-cell-border-color) var(--grid-cell-border-image-size), transparent var(--grid-cell-border-image-size));
  --grid-cell-border-image-right: linear-gradient(to left, var(--grid-cell-border-color) 0, var(--grid-cell-border-color) var(--grid-cell-border-image-size), transparent var(--grid-cell-border-image-size));
  --grid-cell-border-image-bottom: linear-gradient(to top, var(--grid-cell-border-color) 0, var(--grid-cell-border-color) var(--grid-cell-border-image-size), transparent var(--grid-cell-border-image-size));
  --grid-cell-border-image-left: linear-gradient(to right, var(--grid-cell-border-color) 0, var(--grid-cell-border-color) var(--grid-cell-border-image-size), transparent var(--grid-cell-border-image-size));
}

.voters {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: calc(var(--count) * 4rem);
  pointer-events: none;
}

.illustration {
  position: relative;
  margin: 1.5rem auto 0;
  padding: 1rem;
  background: #bd9cceff;
}

.bubbles {
  display: flex;
  position: absolute;
  top: -1.25rem;
  left: 0;
  z-index: 10;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 0.25rem;
  white-space: nowrap;
}
