.cursor {
  position: absolute;
  z-index: var(--layer-ui);
  top: var(--y, 0);
  left: var(--x, 0);
  filter: drop-shadow(0 0.1em 0.1em rgb(0 0 0 / 50%));
  font-size: 4rem;
  transform: translate(-50%, -50%);
  transform-origin: left top;
  transition: all 250ms ease;
}

.hidden {
  opacity: 0;
  scale: 1.5;
}
