.container {
  z-index: var(--layer-text);
  display: block;
  width: 7.2rem;
}

.pie-chart {
  position: relative;
  width: 7.2rem;
  height: 8.28rem;
  margin: 0 auto -0.5rem;
}

.pie-svg {
  width: 100%;
  height: 100%;
}

.label,
.label-red {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 27px;
  text-transform: uppercase;
}

.label {
  fill: var(--blue);
}

.label-red {
  fill: var(--red);
}
